<STYLE type=text/css>

html {
	background-color: #404040;
	font-family: "Courier New", Courier, monospace;
	color: white; padding: 0;
	margin: 0;
}
h1 {
	color: #404040; margin-right: 10%; padding: 5% 0; display: inline;
}
h3 {
	font-size: 1.75em;
}
p {
	font-size: 1.3em;
}
pre {
	font-size: 1.3em;
}
li {
	font-size: 1.3em;
}
a {
	color: white;
}
a:visited {
	color: lightgray;
}
a:active {
	opacity: 0.8;
}
pre {
	margin-left: 5%;
}
#redbox {
	background-color: #F16745; padding: 5% 0; margin: 0; text-align: RIGHT;
}
#yellowbox {
	background-color: #FFC65D; min-height: 40px;
}
#greenbox {
	background-color: #7BC8A4; min-height: 20px; position: relative; z-index: 2;
}
#purplebox {
	background-color: #93648D; padding: 1% 0; text-align: center;
}
#blogtext {
	margin-left: 10%; margin-right: 10%;
}
.center {
	text-align: center;
}
.tab {
	font-size: x-large; text-align: center; color: #404040; width: 20%; border-radius: 5px; padding: 8px; position: relative; top: -5px; z-index: 1; font-size: 1.6em;
}
.halfCircleRight{
     height:90px;
     width:45px;
     border-radius: 90px 0 0 90px;
     z-index: 3;
     position: fixed;
     right: 0%;
     top: 60%
}
.arrowRight {
	position: fixed;
	right: 1.1%;
	top: 59.6%;
	font-size: 2em;
	color: white;
}
.halfCircleLeft{
	height:90px;
     width:45px;
     border-radius: 0 90px 90px 0;
     z-index: 3;
     position: fixed;
     left: 0%;
     top: 60%
}
.arrowLeft {
	position: fixed;
	left: 1.1%;
	top: 59.6%;
	font-size: 2em;
	color: white;
}
.project {
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
}
.aboutme {
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
}
.buttons {
	font-family: 'fontello';
}
.left {
	margin-left: 10%; float: left;
}
.middle {
	float: center; display:inline-block;
}
.right {
	margin-right: 10%; float: right;
}
.blue {
	background-color: #4CC3D9;
}
.green {
	background-color: #7BC8A4;
}
.purple {
	background-color: #93648D;
}
.space {
	height: 50px;
}

.show {display: none; }
.hide:focus + .show {display: inline; }
.hide:focus { display: none; }
.hide:focus ~ #list { display:none; }
@media print { .hide, .show { display: none; } }

</STYLE>